
body {
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0,
    0, 0.2)), linear-gradient(180deg, #030E46 0%, rgba(24, 0, 88,
    0.92) 100%);
}
/* HEADER */
#logo-container img {
    max-width: 6rem;
    max-height: 100%;     /* Constrain logo height to match parent's height */
}

#nav-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
}
#nav-buttons input{
    font-family: Alwyn 'New';
    border: none;
    background: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

#nav-buttons #play {
    background:  linear-gradient(180deg, #35F3FF 0%, #6FFF82
    129.1%);
    border-radius: 40px;
    box-shadow: inset 6px 4px 6px rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    padding: 0.5em;
}
/* HEADER END */

/* LEFT PANEL: ADVERTISEMENT */
#advertisement-Panel{
    display: flex;
    flex-direction: column;
    place-items: center;
    border-width: 0;
    border-image: url('images/form_separator.svg') 1 stretch;
    border-style: solid;
    border-right-width: 5px;
}
#prizeBag {
    height: 50%;
    max-height: 60vh;
}

/* LEFT PANEL: ADVERTISEMENT END */

input[type="date"]::-webkit-calendar-picker-indicator {
    color: white;
    opacity: 1;
    background: url('images/calendar-days-solid.svg') no-repeat; /* Calendar icon for browsers like Edge and Chrome */
    width: 1.3em;
    height: 1.3em;
    border-width: thin;
    cursor: pointer;
}

.brandName {
    color: #ffffff;
    font-size: 3rem;
    font-family: Alwyn 'New';
}

.gameName {
    color: #34e718;
    font-size: 1.5rem;
    font-family: Alwyn 'New';
}

.description {
    font-size: 0.9rem;
    color: #fff;
}

.one, .five, .ten, .hundred {
    color: #fff;
    font-family: 'New' Order;
    font-size: 14px;
}

hr {
    display: none;
}

fieldset {
    border: none;
}

h2 {
    font-family: Alwyn 'New';
    letter-spacing: 2px;
    font-size: 36px;
    color: #79E7FF;
}

label {
    color: #fd73ff;
    font-size: 1rem;
    font-family: Alwyn 'New';
}

#province option {
   background: rgba(24, 0, 88, 0.92);
}
#dob{
    background: rgba(24, 0, 88, 0.92);
}
#bmd_form fieldset input, #province {
    width: 50%;
    margin: 0;
    color: #fff;
    font-family: Alwyn 'New';
    border: none;
    border-bottom: 2px solid #79E7FF;
    background: none;
}

select:hover {
    color: #000;
}

#date, #month, #year {
    width: 15%;
    background: none;
    border: none;
    border-bottom: 2px solid #79E7FF;
}

#formSubmit {
    background:  linear-gradient(180deg, #35F3FF 0%, #6FFF82
    129.1%);
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: #000;
    font-family: Alwyn 'New';
    font-weight: bold;
    border-radius: 40px;
    box-shadow: inset 6px 4px 6px rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 50px;
    background: #040B3A;
}

.terms {
    display: flex;
    color: #fff;
    padding-left: 150px;
    padding-top: 18px;
    font-family: Alwyn 'New';
    font-size: 14px;
    flex-direction: row;
}

#bmd_form fieldset input#bmd-consent{
    background: rgba(24, 0, 88, 0.92);
    color: white;
    width: auto; 
}
#bmd_form fieldset #bmd-consent-label{
    color: white;
}
/* Medium and lower */

@media only screen and (max-width: 40em) {
    #logo-container{
        text-align: center;     /* Center logo on medium and lower screen sizes */
        height: 5rem;
    }
    #nav-buttons{
        place-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #advertisement-Panel{
        border-width: 0; /* Remove separator on smaller screens */
        border-image: none;
    }

    #prizeBag {
        height: 45%;
        max-height: 50vh;
    }
}