
body {
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0,
    0, 0.2)), linear-gradient(180deg, #030E46 0%, rgba(24, 0, 88,
    0.92) 100%);
}
/* HEADER */
#logo-container img {
    max-width: 6rem;
    max-height: 100%;     /* Constrain logo height to match parent's height */
}

.vertical {
    position: absolute;
    width: 6px;
    height: 950px;
    left: 781px;
    top: 300px;
    background: linear-gradient(180deg, rgba(70, 255,
    222, 0.63) 0%, rgba(23, 172, 255, 0.12) 99.54%,
    rgba(81, 192, 255, 0) 99.99%);
}
#nav-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
}
#nav-buttons input{
    font-family: Alwyn 'New';
    border: none;
    background: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

#nav-buttons #play {
    background:  linear-gradient(180deg, #35F3FF 0%, #6FFF82
    129.1%);
    border-radius: 40px;
    box-shadow: inset 6px 4px 6px rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    padding: 0.5em;
}
/* HEADER END */

/* LEFT PANEL: ADVERTISEMENT */
#advertisement-Panel{
    display: flex;
    flex-direction: column;
    place-items: center;
}
#prizeBag {
    height: 50%;
    max-height: 60vh;
}

/* LEFT PANEL: ADVERTISEMENT END */
.brandName {
    color: #ffffff;
    font-size: 3rem;
    font-family: Alwyn 'New';
}

.gameName {
    color: #34e718;
    font-size: 1.5rem;
    font-family: Alwyn 'New';
}

.description {
    font-size: 0.9rem;
    color: #fff;
}

.one, .five, .ten, .hundred {
    color: #fff;
    font-family: 'New' Order;
    font-size: 14px;
}

hr {
    display: none;
}

fieldset {
    border: none;
}

h2 {
    font-family: Alwyn 'New';
    letter-spacing: 2px;
    font-size: 36px;
    color: #79E7FF;
}

label {
    color: #fd73ff;
    font-size: 20px;
    font-family: Alwyn 'New';
    font-weight: bold;
}

.firstName, .lastName, .province, .email, .dob, .password {
}

.lastName {
    margin-top: 2px;
}

.province {
    margin-top: 2px;
    margin-right: 540px;
}
#province option {
   background: rgba(24, 0, 88, 0.92)
}

.email {
    margin-top: 2px;
    margin-right: 570px;
}

.dob {
    margin-top: 2px;
    margin-right: 505px;
}

.password {
    margin-top: 2px;
    margin-right: 530px;
}

#firstName, #lastName, #province, #email, #password, #agree, #disagree {
    width: 50%;
    margin-top: 5px;
    margin-right: 245px;
    color: #fff;
    font-family: Alwyn 'New';
    padding-left: 20px;
    border: none;
    border-bottom: 2px solid #79E7FF;
}

select:hover {
    color: #000;
}

#date, #month, #year {
    width: 15%;
    background: none;
    border: none;
    border-bottom: 2px solid #79E7FF;
    margin-left: 20px;
    margin-right: 515px;
}

#month {
    margin-top: -55px;
    margin-right: 380px;
}

#year {
    margin-top: -55px;
    margin-right: 250px;
}

#agree, #disagree {
    margin-top: 30px;
    margin-right: 420px;
}

#disagree {
    margin-top: -5px;
}

.agree, .disagree {
    font-family: Alwyn New;
    color: #ffffff;
    margin-top: -35px;
}

.agree {
    margin-right: 340px;
}

.disagree {
    margin-top: -37px;
    margin-right: 295px;
}

#formSubmit {
    margin-top: 50px;
    margin-right: 250px;
    background:  linear-gradient(180deg, #35F3FF 0%, #6FFF82
    129.1%);
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: #000;
    font-family: Alwyn 'New';
    font-weight: bold;
    border-radius: 40px;
    box-shadow: inset 6px 4px 6px rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: 150px;
    background: #040B3A;
}

.terms {
    display: flex;
    color: #fff;
    padding-left: 150px;
    padding-top: 18px;
    font-family: Alwyn 'New';
    font-size: 14px;
    flex-direction: row;
}

.conditions {
    margin-left: 50px;
}


/* Medium and lower */

@media only screen and (max-width: 40em) {
    #logo-container{
        text-align: center;     /* Center logo on medium and lower screen sizes */
        height: 5rem;
    }
    #nav-buttons{
        place-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .vertical {
        display: none;
    }

    #prizeBag {
        height: 45%;
        max-height: 50vh;
    }
}